:root {
  --blue: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --light-grey: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}
h1,
h2,
h3,
p,
li {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.logo {
  color: var(--blue);
}
.logo-link {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  color: #212121;
  text-decoration: none;
  margin-right: 93px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  margin: 0 -15px;
}
.col-4 {
  padding: 0 15px;
  width: 33.33%;
}
.col-3 {
  padding: 0 15px;
  width: 25%;
}
.header {
  padding: 24px 0;
}
.line {
  border: 1px solid #ececec;
}
.studio {
  color: var(--white);
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  text-decoration: none;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.container-hero {
  text-align: center;
  background-color: #2f303a;
  min-height: 600px;
}
.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
}
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--blue);
}
.button-style {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--white);
  background-color: var(--blue);
  min-width: 136px;
  text-align: center;
}
.link {
  color: #212121;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--blue);
}
.grey {
  color: var(--grey);
  font-size: 14px;
  line-height: 1.71em;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}
.section-post-title {
  font-size: 16px;
  line-height: 1.875em;
  color: var(--grey);
}
.white {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71em;
  text-decoration: none;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.nave {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
}
.ash-post {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ash-p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.74em;
  color: var(--grey);
  letter-spacing: 0.03em;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0px;
}
.ash-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
}
.section-name {
  padding: 94px 0;
}

.name-spesh {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.name-id {
  font-size: 16px;
  line-height: 1.18em;
  color: var(--grey);
  letter-spacing: 0.03em;
}
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.ml-50 {
  margin-left: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-auto {
  margin-right: auto;
}
.mb-94 {
  margin-bottom: 94px;
}
.bg-light-grey {
  background-color: var(--light-grey);
}
.bg-white {
  background-color: var(--white);
}
.text-center {
  text-align: center;
}
.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
img {
  display: block;
  max-width: 100%;
}
.team-member {
  padding: 20px 0;
}
.team-br {
  border-radius: 0px 0px 4px 4px;
}
